# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Check out the link below for more information.
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# These owners will be the default owners for everything in the repo.
*       @jqmp @naman
